<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hb4</title>
</head>
<body>
    <div class="container">
        Technologias baseadas no NodeJS: 
        {{{listTechs technologies}}}
    </div>
</body>
</html>